# snippets for making reStructuredText
snippet link
	\`${1:link}\`_${2}
# link
snippet image
	.. image:: ${1:name_image}
# semple image
snippet imagea
	.. image:: ${1:name_image}
	   :width: ${2:width}
	   :heigth: ${3:heigth}
	   :alt: ${4:alternative text}
	   :title: ${5:title of image}
# all image


